<%- include("templates/header_goback") %>

    <!-- Our story -->
    <div class="px-4 mb-4 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">About US</h1>

        <!-- app logo -->
        <img class="d-block mx-auto my-4" src="/#" alt="" width="72" height="57">

        <div class="col-lg-6 px-2 py-3 mx-auto" style="background-color: #f1f1f19b;">
            <p class="lead mb-4">
                Welcome to AISLEEP! We are Team BBY-14, passionate about helping people achieve better
                sleep. Our app offers free, simple, and AI-generated solutions to help you overcome your sleep issues.
                By inputting your data, our app provides personalized sleep reports with scores and recommendations to
                improve your sleep quality. Unlike other apps on the market, our unique features ensure accessibility
                and ease of use. Our goal is to make quality sleep accessible to everyone, regardless of their
                circumstances. Join us on our mission to help individuals across the globe achieve restful nights and
                wake up rejuvenated. Start using AISleep today and embark on a journey towards better sleep!
            </p>
        </div>
    </div>

    <!-- App instructions -->
    <div class="px-4 mb-4">
        <div class="col-lg-6 px-2 py-3 mx-auto" style="background-color: #f1f1f19b;">
            <h1 class="display-6 fw-bold text-body-emphasis text-center">How to use our app?</h1>
            <ul class="lead mb-4 text-start">
                <li class="mb-2">To view your existing sleep reports at any time, simply go to the main page
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#home"></use>
                    </svg>
                </li>
                <li class="mb-2">You can click on the below <svg class="bi" width="24" height="24">
                        <use xlink:href="#stats"></use>
                    </svg> to see the sleep statistical data.
                </li>
                <li class="mb-2">Don't forget to check out Tips <svg class="bi" width="24" height="24">
                        <use xlink:href="#tips"></use>
                    </svg> for helpful quick advice and relaxing tunes to help you sleep better!
                </li>
            </ul>
        </div>
    </div>

    <!-- promote our app -->
    <div class="px-4 mb-4 text-center">
        <p class="lead fw-bold my-4">Let's get your first report now!</p>
        <div style="text-decoration: none;" class="text-dark m-2" data-mdb-ripple-color="dark">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#arrowdown"></use>
            </svg>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#" type="button" class="btn btn-primary btn-lg px-4 gap-3 my-3">Get Started</a>
        </div>
    </div>

    <br>
    <br>
    <br>

<%- include("templates/footer") %>