<%- include('templates/header_main') %>
<div class="m-5">
  <div class="alert alert-success text-center" role="alert">
    <h2>Please check your email!</h2>
  </div>
</div>
<%- include('templates/footer') %>