<%- include('templates/header_main') %>
<div class="m-5">
  <div class="alert alert-success text-center" role="alert">
    <h2>Please check your email!</h2>
  </div>
  <div class="centeredbutton">
    <a href="/"> <button type="submit" class="btn btn-primary button1">Go back to Index Page</button></a>
  </div>
</div>
<%- include('templates/footer') %>
