<%- include('templates/header_goback', { path: '/main' }) %>
  <div class="m-5 mb-5 pb-5">
    <form action="/submitreport" method="post" onsubmit="disableSubmitButton()">

      <!-- What time did you go to bed? -->
      <div class="form-group">
        <h1>Create today's report</h1> <br>
        <strong>Please fill out all fields.</strong> <br>
        <label for="bedtime">What time did you go to bed?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="bedtimeHour" name="bedtimeHour">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option selected>11</option>
              <option>12</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="bedtimeMinute" name="bedtimeMinute">
              <option>00</option>
              <option>10</option>
              <option>20</option>
              <option selected>30</option>
              <option>40</option>
              <option>50</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="bedtimeAmPm" name="bedtimeAmPm">
              <option>AM</option>
              <option selected>PM</option>
            </select>
          </div>
        </div>
      </div>

      <!-- What time did you wake up? -->
      <div class="form-group">
        <label for="wakeup">What time did you wake up?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="wakeupHour" name="wakeupHour">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option selected>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="wakeupMinute" name="wakeupMinute">
              <option>00</option>
              <option>10</option>
              <option>20</option>
              <option selected>30</option>
              <option>40</option>
              <option>50</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="wakeupAmPm" name="wakeupAmPm">
              <option selected>AM</option>
              <option>PM</option>
            </select>
          </div>
        </div>
      </div>

      <!-- How long does it take you to fall asleep? -->
      <div class="form-group">
        <label for="takeTimeAsleep">How long did it take you to fall asleep?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="takeTimeAsleepHour" name="takeTimeAsleepHour">
              <option>0 hr</option>
              <option selected>1 hr</option>
              <option>2 hrs</option>
              <option>3 hrs</option>
              <option>4 hrs</option>
              <option>5+ hrs</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="takeTimeAsleepMinute" name="takeTimeAsleepMinute">
              <option>00 min</option>
              <option selected>10 min</option>
              <option>20 min</option>
              <option>30 min</option>
              <option>40 min</option>
              <option>50 min</option>
            </select>
          </div>
        </div>
      </div>

      <!-- How many times did you wake up during the night? -->
      <div class="form-group">
        <label for="wakeupcount">How many times did you wake up during the night?</label>
        <select class="form-control" id="wakeupcount" name="wakeupcount">
          <option selected>0 times</option>
          <option>1 time</option>
          <option>2 times</option>
          <option>3 times</option>
          <option>4 times</option>
          <option>5 times</option>
          <option>6 times</option>
          <option>7 times</option>
          <option>8 times</option>
          <option>9 times</option>
          <option>10+ times</option>
        </select>
      </div>

      <!-- caffeine -->
      <div class="form-group">
        <label for="caffeine">Did you consume any caffeine yesterday?</label>
        <select class="form-control" id="caffeine" name="caffeine">
          <option>No</option>
          <option>Yes</option>
        </select>
      </div>
      <div class="form-group" id="caffeineamount" style="display:none;">
        <label for="caffeinecount">Approximately how many milligrams of caffeine did you consume?</label>
        <select class="form-control" id="caffeinecount" name="caffeinecount">

          <option>25 mg (1/3 cup)</option>
          <option>50 mg (2/3 cup)</option>
          <option>75 mg (1 cup)</option>
          <option>100 mg (1 1/3 cup)</option>
          <option>125 mg (1 2/3 cup)</option>
          <option>150 mg (2 cup)</option>
          <option>175 mg (2 1/3 cup)</option>
          <option>200 mg (2 2/3 cup)</option>
          <option>225 mg (3 cup)</option>
          <option>250+ mg (3 1/3+ cup)</option>

          <!-- <option>1 mg</option>
          <option>2 mg</option>
          <option>3 mg</option>
          <option>4 mg</option>
          <option>5 mg</option>
          <option>6 mg</option>
          <option>7 mg</option>
          <option>8 mg</option>
          <option>9 mg</option>
          <option>10+ mg</option> -->

        </select>
      </div>

      <!-- alcohol -->
      <div class="form-group">
        <label for="alcohol">Did you drink any alcohol yesterday?</label>
        <select class="form-control" id="alcohol" name="alcohol">
          <option>No</option>
          <option>Yes</option>
        </select>
      </div>
      <div class="form-group" id="alcoholamount" style="display:none;">
        <label for="alcoholcount">Approximately how many ounces of alcohol did you drink?</label>
        <select class="form-control" id="alcoholcount" name="alcoholcount">
          <option>1 oz</option>
          <option>2 oz</option>
          <option>3 oz</option>
          <option>4 oz</option>
          <option>5 oz</option>
          <option>6 oz</option>
          <option>7 oz</option>
          <option>8 oz</option>
          <option>9 oz</option>
          <option>10+ oz</option>
        </select>
      </div>

      <!-- exercise -->
      <div class="form-group">
        <label for="exercise">Have you exercised within this week?</label>
        <select class="form-control" id="exercise" name="exercise">
          <option>No</option>
          <option>Yes</option>
        </select>
      </div>
      <div class="form-group" id="exerciseamount" style="display:none;">
        <label for="exercisecount">Approximately how many times did you exercise?</label>
        <select class="form-control" id="exercisecount" name="exercisecount">
          <option>1 time</option>
          <option>2 times</option>
          <option>3 times</option>
          <option>4 times</option>
          <option>5 times</option>
          <option>6 times</option>
          <option>7 times</option>
        </select>
      </div>

      <div class="centeredbutton">
        <button type="submit" id="submitBtn" class="btn btn-primary button1">Submit</button>
      </div>
    </form>
  </div>


  <%- include('templates/footer') %>

  <script>
    function disableSubmitButton() {
      // Disable the submit button
      document.getElementById("submitBtn").disabled = true;
      // Change the text of the submit button to indicate processing
      document.getElementById("submitBtn").innerHTML = "Submitting...";
    }
  </script>