<%- include("templates/header_goback") %>
  <div class="m-5 mb-5 pb-5">
    <form action="/submitreport" method="post">

      <!-- What time did you go to bed? -->
      <div class="form-group">
        <label for="bedtime">What time did you go to bed?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="bedtimeHour" name="bedtimeHour">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="bedtimeMinute" name="bedtimeMinute">
              <option>00</option>
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="bedtimeAmPm" name="bedtimeAmPm">
              <option>AM</option>
              <option>PM</option>
            </select>
          </div>
        </div>
      </div>

      <!-- What time did you wake up? -->
      <div class="form-group">
        <label for="wakeup">What time did you wake up?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="wakeupHour" name="wakeupHour">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="wakeupMinute" name="wakeupMinute">
              <option>00</option>
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="wakeupAmPm" name="wakeupAmPm">
              <option>AM</option>
              <option>PM</option>
            </select>
          </div>
        </div>
      </div>

      <!-- How long does it take you to fall asleep? -->
      <div class="form-group">
        <label for="bedtime">How long did it take you to fall asleep?</label>
        <div class="row">
          <div class="col">
            <select class="form-control" id="bedtimeHour" name="bedtimeHour">
              <option>1 hr</option>
              <option>2 hrs</option>
              <option>3 hrs</option>
              <option>4 hrs</option>
              <option>5+ hrs</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="bedtimeMinute" name="bedtimeMinute">
              <option>00 min</option>
              <option>10 min</option>
              <option>20 min</option>
              <option>30 min</option>
              <option>40 min</option>
              <option>50 min</option>
            </select>
          </div>

          <!-- How many times did you wake up during the night? -->
          <div class="form-group">
            <label for="wakeupcount">How many times did you wake up during the night?</label>
            <select class="form-control" id="wakeupcount" name="wakeupcount">
              <option>0 times</option>
              <option>1 time</option>
              <option>2 times</option>
              <option>3 times</option>
              <option>4 times</option>
              <option>5 times</option>
              <option>6 times</option>
              <option>7 times</option>
              <option>8 times</option>
              <option>9 times</option>
              <option>10+ times</option>
            </select>
          </div>

          <!-- caffeine -->
          <div class="form-group">
            <label for="caffeine">Did you consume any caffeine yesterday?</label>
            <select class="form-control" id="caffeine" name="caffeine">
              <option>No</option>
              <option>Yes</option>
            </select>
          </div>
          <div class="form-group" id="caffeineamount" style="display:none;">
            <label for="caffeinecount">Approximately how many milligrams of caffeine did you consume?</label>
            <select class="form-control" id="caffeinecount" name="caffeinecount">
              <option>1 mg</option>
              <option>2 mg</option>
              <option>3 mg</option>
              <option>4 mg</option>
              <option>5 mg</option>
              <option>6 mg</option>
              <option>7 mg</option>
              <option>8 mg</option>
              <option>9 mg</option>
              <option>10+ mg</option>
            </select>
          </div>

          <!-- alcohol -->
          <div class="form-group">
            <label for="alcohol">Did you drink any alcohol yesterday?</label>
            <select class="form-control" id="alcohol" name="alcohol">
              <option>No</option>
              <option>Yes</option>
            </select>
          </div>
          <div class="form-group" id="alcoholamount" style="display:none;">
            <label for="alcoholcount">Approximately how many ounces of alcohol did you drink?</label>
            <select class="form-control" id="alcoholcount" name="alcoholcount">
              <option>1 oz</option>
              <option>2 oz</option>
              <option>3 oz</option>
              <option>4 oz</option>
              <option>5 oz</option>
              <option>6 oz</option>
              <option>7 oz</option>
              <option>8 oz</option>
              <option>9 oz</option>
              <option>10+ oz</option>
            </select>
          </div>

          <!-- exercise -->
          <div class="form-group">
            <label for="exercise">Have you exercise within this week?</label>
            <select class="form-control" id="exercise" name="exercise">
              <option>No</option>
              <option>Yes</option>
            </select>
          </div>
          <div class="form-group" id="exerciseamount" style="display:none;">
            <label for="exerciseamount">Approximately how many times did you exercise?</label>
            <select class="form-control" id="exerciseamount" name="exerciseamount">
              <option>1 time</option>
              <option>2 times</option>
              <option>3 times</option>
              <option>4 times</option>
              <option>5 times</option>
              <option>6 times</option>
              <option>7 times</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary mt-2 justify-content-sm-center">Submit</button>
    </form>
  </div>


  <%- include('templates/footer') %>