<%- include('templates/header_goback') %>
<div class="m-5">
  <div class="alert alert-primary text-center" role="alert">
    <h2>Forgot your password?</h2>
  </div>
  <form action="/sendresetemail" method="post">
    <div class="form-group mb-4">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="centeredbutton">
      <button type="submit" class="btn btn-primary button1">Submit</button>
    </div>
  </form>
</div>
<%- include('templates/footer') %>