<%- include('templates/header_main') %>
<div class="justify-content-center align-items-center">
  <div class="m-4 mb-5 pb-5">
    <div class="alert alert-success my-5" role="alert">
      <h1 class="alert-heading text-center">Welcome to AISleep!</h1>
    </div>
    <img class="d-block mx-auto mb-5" src="images/logo.png" alt="" height="150"><br>
    <div class="mt-5 my-2 d-flex justify-content-center">
      <a href="/signup"
        ><button type="button" class="btn btn-outline-primary">Sign Up</button></a
      >
    </div>
    <div class="my-2 d-flex justify-content-center">
      <a href="/login"
        ><button type="button" class="btn btn-outline-secondary">Login</button></a
      >
    </div>
  </div>
</div>
<%- include('templates/footer') %>
