<%- include('templates/header_main') %>
<div class="m-4">
  <img class="d-block mx-auto mb-5 img-fluid" src="images/logo.png" alt="" style="max-height: 150px;">
  <div class="centeredbutton">

    <h2 class="alert-heading">Hello, <span class="colored-text"><%- name %></span>!</h2>
  </div>
  <div class="my-2">
    <div class="centeredbutton">
      <a href="/main">  <button type="submit" class="btn btn-primary button1">Go to Home Page</button>
        </a></div>
  </div>
  <div class="my-2">
   <div class="centeredbutton">
    <a href="/logout">  <button type="submit" class="btn btn-primary button2">Log Out</button>
      </a></div>
    
  </div>
</div>
<%- include('templates/footer') %>
