<%- include("templates/header_main") %>

    <div class="px-4 mb-4 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">AISleep</h1>
        <img class="d-block mx-auto mb-4" src="images/logo3.png" alt="" width="120">

        <div class="col-lg-6 px-auto py-1 mx-auto" style="background-color: #f1f1f19b;">

            <p class="lead mb-2">Hello, <%- name %>!</p>
            <p class="lead">Your score: </p>
            <p class="lead mb-2"> <%- sleepScore %> / 100</p>

            <form action="/latestReport" method="post" class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">
                    <h5>See my report</h5>
                </button>
            </form>
            <form  class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/report_list" type="button" class="btn btn-outline-secondary btn-lg px-4">
                    <h5>View reports list</h5>
                </a>
            </form>

        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/createreport" type="button" class="btn btn-primary btn-lg px-4 gap-3 my-3">Get Started</a>
        </div>
    </div>
    <br>
    <br>

<%- include("templates/footer") %>