<%- include('templates/header_preferences') %>
<br><br>
<h3>Light/Dark Mode</h3>
<label class="switch">
    <input type="checkbox" id="dark-mode-toggle">
    <span class="slider"></span>
  </label>


  <div id="myElement">This is my element</div>


<%- include("templates/footer") %>