<%- include('templates/header_goback', { path: '/settings' }) %>
<br><br>
<h3>Light/Dark Mode</h3>
<label class="switch">
  <input type="checkbox" id="dark-mode-toggle">
  <span class="slider"></span>
</label>
<%- include("templates/footer") %>
