<%- include('templates/header_goback', { path: '/settings' }) %>


<div id="problem-body" class="mt-2">
    <img class="d-block mx-auto mb-4" src="images/404.png" alt="" width="200">
    <h1 class="display-5 fw-bold  text-center reportproblemtext">We're sorry to hear you're having a problem.</h1>
    
    <!-- <button id="contactus" class="btn btn-primary md-btn-flat">Contact us </button> -->
    <br><br>
    <div class="d-flex justify-content-center">
    <form id="report-form"  action="/reportProblem" method="post">
        <div id="reportproblem">Report the problem (max 300 characters):</div>
        <br>
        <input type="text" id="problemInput" name="problemText" required>
        <br><br>
           <div class="centeredbutton">
      <button type="submit" class="btn btn-primary button1">Submit</button>
    </div>
      </form>
    </div>
      
</div>


<%- include("templates/footer") %> 