<%- include('templates/header_goback', { path: '/profile' }) %>
<div class="m-5">
  <div class="alert alert-danger text-center" role="alert">
    <h2>Error: <%= error %></h2>
  </div><br>
  <div class="centeredbutton">
    <a href='/profile'><button type="button" class="btn btn-outline-primary button1">Try Again</button></a>
  </div>
</div>
<%- include('templates/footer') %>
