<%- include("templates/header_profile") %>
    <div class="container">
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="account-general">

                    <div class="card-body media align-items-center">
                        <img id="mypic-goes-here" src="profile_dummy.png" width="100" height="100"/>
                        <br><br>

                        <div class="media-body ml-4">
                            <label class="btn btn-outline-primary">
                                Upload new photo

                                <input type="file" id="mypic-input" class="account-settings-fileinput" accept="image/*"
                                    style="display:none;" />
                            </label>
                            <button type="button" class="btn btn-primary">Save </button>




                            <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                    </div>
                    <hr class="border-light m-0">
                    <!-- <fieldset class="mb-3" id="personalInfoFields" disabled> -->
                    <form>



                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input id="nameInput" type="text" class="form-control" placeholder="enter your name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input id="bioInput" type="text" class="form-control mb-1" placeholder="enter email">

                            </div>
                            <div class="form-group">
                                <label class="form-label">Date of Birth</label>
                                <input id="dateInput" type="date" class="form-control" placeholder="enter DOB">
                            </div>
                            <br>
                            <!-- </fieldset> -->


                            <button type="button" class="btn btn-primary">Save Profile</button>&nbsp;
                            <button type="button" class="btn btn-outline-primary ">Edit profile </button>
                            <div class="form-group">
                                <br>
                                <label class="d-block text-danger">Delete Account</label>
                                <p class="text-muted font-size-sm">Once you delete your account, there is no going back.
                                    Please be certain.
                                </p>
                            </div>
                            <button class="btn btn-danger" type="button">Delete Account</button>
                        </div>

                </div>
                </form>
            </div>






            <%- include("templates/footer") %>