<%- include("templates/header_goback") %>

    <div class="mb-4 text-center">
 
        <img class="d-block mx-auto my-4" src="images/logo.png" width="300">
        <h1 class="display-5 fw-bold headline">Reports</h1>

        <div class="col-lg-6 px-2 py-3 mx-auto transparentbox">
            <ul class="lead mb-4 list-group">
                <% for(i=0; i < reports.length; i++) { %>
                <%- include('templates/report_list_item', {report: reports[i]}) %>
                <% } %>
            </ul>
        </div>
    </div>

    <br>
    <br>
    <br>

<%- include("templates/footer") %>