<%- include('templates/header_goback') %>
<div class="m-5">
  <div class="alert alert-danger text-center" role="alert">
    <h2>Error: <%= error %></h2>
  </div><br>
  <a href='<%= link %>'><button type="button" class="btn btn-outline-primary">Try Again</button></a>
</div>
<%- include('templates/footer') %>