</div> <!--main content container-->

<div class="container fixed-bottom">

    <footer class="text-center" style="background-color: #ffffff;">
        <div class="container">
            <section class="d-flex justify-content-between">
                <!-- Stats -->
                <a style="text-decoration: none;" class="btn btn-link btn-floating text-dark m-2" href="/stats"
                    role="button" data-mdb-ripple-color="dark">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#stats"></use>
                    </svg>
                    <span class="d-block">Stats</span>
                </a>

                <!-- Home -->
                <a style="text-decoration: none;" class="btn btn-link btn-floating text-dark m-2" href="/main"
                    role="button" data-mdb-ripple-color="dark">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#home"></use>
                    </svg>
                    <span class="d-block">Home</span>
                </a>

                <!-- Tips -->
                <a style="text-decoration: none;" class="btn btn-link btn-floating text-dark m-2" href="/facts"
                    role="button" data-mdb-ripple-color="dark">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#tips"></use>
                    </svg>
                    <span class="d-block">Facts</span>
                </a>
            </section>
        </div>
    </footer>

</div>

<!-- Java Script -->
<script src="./js/client.js"></script>
<!-- <script src="./js/puzzle.js"></script> -->



</body>

</html>