</div> <!--main content container-->

<div class="container">

    <footer class="text-center mt-5" style="background-color: #f1f1f1;">
        <div class="container">
            <section class="d-flex justify-content-between">
                <!-- Stats -->
                <a class="btn btn-link btn-floating text-dark m-2" href="#!" role="button"
                    data-mdb-ripple-color="dark"><svg class="bi" width="24" height="24">
                        <use xlink:href="#stats"></use>
                    </svg></a>
                <!-- Home -->
                <a class="btn btn-link btn-floating text-dark m-2" href="#!" role="button"
                    data-mdb-ripple-color="dark"><svg class="bi" width="24" height="24">
                        <use xlink:href="#home"></use>
                    </svg></a>

                <!-- Tips -->
                <a class="btn btn-link btn-floating text-dark m-2" href="#!" role="button"
                    data-mdb-ripple-color="dark"><svg class="bi" width="24" height="24">
                        <use xlink:href="#tips"></use>
                    </svg></a>
            </section>
        </div>
    </footer>

</div>

</body>

</html>